# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
!premake5.exe
*.out
*.app

#Build result
**/bin/

bin-int/

# Visual Studio
.vs/
*.sln
*.vcxproj
*.vcxproj.filters

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

